/* Follwowing code removes default styles that are added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #265440;
}

/* Main content */
main {
    background-color: #fffaf0;
    /* The following ensures that the main content takes up any space left on the page */
    flex: 1 0 auto; 
}

/* Footer */
footer {
    background-color: #8cd790;
}